@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0ea5e9;
    --btn-pd: 12px 15px;
    --primary-shadow: 0 4px 6px rgba(14, 165, 233, 0.3),
        0 2px 4px rgba(14, 165, 233, 0.2), 0 1px 3px rgba(14, 165, 233, 0.1);
    --secondary-shadow: 0 4px 6px rgb(34 34 34 / 30%),
        0 2px 4px rgb(37 37 37 / 20%), 0 1px 3px rgba(14, 165, 233, 0.1);
}

.btn {
    @apply text-white text-xl p-[--btn-pd] rounded-md cursor-pointer font-semibold;
    transition: all 0.3s ease;
}
.btn-secondary {
    background-color: #181818;
    box-shadow: var(--secondary-shadow);
}
.btn-primary {
    background-color: var(--primary-color);
    box-shadow: var(--primary-shadow);
}
.btn-primary:hover {
    background-color: #0b90cd;
}
