@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0ea5e9;
    --btn-pd: 12px 15px;
}

.btn-primary {
    @apply text-white text-xl p-[--btn-pd] rounded-md bg-[--primary-color] cursor-pointer font-semibold shadow-primary;
    transition: all 0.3s ease;
}
.btn-primary:hover {
    background-color: #0b90cd;
}
